%drop-shadow {
  filter: drop-shadow(0px 0px 0px #8645551a) drop-shadow(0px 4px 8px #8645551a)
    drop-shadow(0px 14px 14px #86455517) drop-shadow(0px 32px 19px #8645550d)
    drop-shadow(0px 57px 23px #86455503);

  // drop-shadow(0px 89px 25px #86455500);
}

%gradient-royal-white {
  background: linear-gradient(90deg, #f3e7e9 0%, #e3eeff 95.83%, #e3eeff 99%);
}

%gradient-white {
  background: linear-gradient(90deg, #eadfdf 59%, #ece2df 100%);
}
